version: '3'
services:
  backend:
    build: .
    ports:
      - "5000:5000"
  frontend:
    image: node:16
    working_dir: /app
    command: npm start
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app